<footer class="footer">
  <div class="footer-top">
    <div class="footer-logo">SHOP.CO</div>
    <div class="footer-links">
      <div>
        <h4>COMPANY</h4>
        <p>About</p>
        <p>Features</p>
        <p>Works</p>
        <p>Career</p>
      </div>
      <div>
        <h4>HELP</h4>
        <p>Customer Support</p>
        <p>Delivery Details</p>
        <p>Terms & Conditions</p>
        <p>Privacy Policy</p>
      </div>
      <div>
        <h4>RESOURCES</h4>
        <p>Free eBooks</p>
        <p>Development Tutorial</p>
        <p>How to - Blog</p>
        <p>Youtube Playlist</p>
      </div>
    </div>
  </div>
  <p class="footer-bottom">© SHOP.CO 2023, All Rights Reserved</p>
</footer>
