<app-header></app-header>
<app-navbar></app-navbar>
<app-hero-section></app-hero-section>
<app-hero-baner></app-hero-baner>



<div class="text-center container new-arrival">

  <div class="m-5 text-center">
    <app-text-header textContent="New Arrival" textColor="black"></app-text-header>
  </div>
  <!-- new arrival cards



  from api -->

  <app-product-card></app-product-card>


  <div class="mb-5">
    <app-custom-button backgroundColor="white" textColor="black" content="View all"></app-custom-button>
  </div>
  <hr>
</div>



<app-footer-banner></app-footer-banner>
<div class="mt-5">
  <app-footer></app-footer>
</div>
