<nav class="navbar">
  <div class="nav-wrap">

    <div class="brand">SHOP.<b>CO</b></div>

    <div class="links">
      <a class="link" href="#">Shop <i class="fas fa-chevron-down"></i></a>
      <a class="link" href="#">On Sale</a>
      <a class="link" href="#">New Arrivals</a>
      <a class="link" href="#">Brands</a>
    </div>


    <label class="search">
      <i class="fas fa-search"></i>
      <input 
        type="search" 
        placeholder="Search for products..." 
        [(ngModel)]="searchValue" 
        (keyup.enter)="onSearch()"/>
    </label>


    <div class="actions">
      <button class="icon-btn" aria-label="Cart">
        <i class="fas fa-shopping-cart"></i>
      </button>
      <button class="icon-btn" aria-label="Account">
        <i class="fas fa-user"></i>
      </button>
    </div>
  </div>
</nav>